{%extends 'store/base.html'%}

{%block main_block%}


<div class="mx-auto flex max-w-3xl flex-col space-y-4 p-6 px-2 sm:p-10 sm:px-2">
    <h2 class="text-3xl font-bold">Cart</h2>

 {%if cartitems%}

 <ul class="flex flex-col divide-y divide-gray-200">
  {%for wi in cartitems%}
   
  
  <li class="flex flex-col py-6 sm:flex-row sm:justify-between">
    <div class="flex w-full space-x-2 sm:space-x-4">

        <img
        alt="Nike Air Max 21A"
        class="h-64 w-1/2 rounded object-cover lg:h-96 lg:w-1/2"
        src="{{wi.product_varient_object.varient_image.url}}"
      />

        
        
        
        
      <div class="flex w-full flex-col justify-between pb-4">
        <div class="flex w-full justify-between space-x-2 pb-2">
          <div class="space-y-1">
            <h3 class="text-lg font-semibold leading-snug sm:pr-8">
              {{wi.product_varient_object.product_obj.title}}
            </h3>
            {{wi.product_varient_object.product_obj.description}}
          </div>
          <div class="text-right">
            <p class="text-lg font-semibold">₹{{wi.product_varient_object.price}}</p>
          </div>
        </div>
        <div class="flex divide-x text-sm">
          <button
            type="button"
            class="flex items-center space-x-2 px-2 py-1 pl-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-trash"
            >
              <path d="M3 6h18"></path>
              <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
              <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
            </svg>
            <span><a href="{%url 'cartitem-delete' wi.id%}">Remove</a></span>
          </button>
          <button type="button" class="flex items-center space-x-2 px-2 py-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-heart"
            >
              <path d="M20.42 4.58a5.4 5.4 0 0 0-7.65 0l-.77.78-.77-.78a5.4 5.4 0 0 0-7.65 0C1.46 6.7 1.33 10.28 4 13l8 8 8-8c2.67-2.72 2.54-6.3.42-8.42z"></path>
            </svg>
            <span>Add to favorites</span>
          </button>
        </div>
      </div>
    </div>
  </li>

  {%endfor%}

</ul>

<div class="flex justify-end space-x-4">
  <button
    type="button"
    class="rounded-md border border-black px-3 py-2 text-sm font-semibold text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
  >
    Back to shop
  </button>
  <a
    href="{%url 'delivery-details'%}"
    type="button"
    class="rounded-md border border-black px-3 py-2 text-sm font-semibold text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
  >
    Checkout
</a>
</div>

 {%else%}

 <h1><b>Your cart is Empty</b></h1>

 {%endif%}
  </div>
  




{%endblock%}