{%extends 'store/base.html'%}

{%block main_block%}
<section class="overflow-hidden">
  <div class="mx-auto max-w-5xl px-5 py-24">
    <div class="mx-auto flex flex-wrap items-center lg:w-4/5">
      <img
        alt="Nike Air Max 21A"
        class="h-64 w-full rounded object-cover lg:h-96 lg:w-1/2"
        src="{{varients.varient_image.url}}"
      />
      <div class="mt-6 w-full lg:mt-0 lg:w-1/2 lg:pl-10">
        <h2 class="text-sm font-semibold tracking-widest text-gray-500">
          {{varients.product_obj.brand_obj.name}}
        </h2>
        <h1 class="my-4 text-3xl font-semibold text-black">{{varients.product_obj.title}}
        </h1>
      
        <p class="leading-relaxed">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur rem
          amet repudiandae neque adipisci eum enim, natus illo inventore totam?
        </p>
        <div class="mb-5 mt-6 flex items-center border-b-2 border-gray-100 pb-5">
          <div class="flex items-center">
            <span class="mr-3 text-sm font-semibold">Color:</span>

            <b>{{color}}</b>
            



            
          
          </div>
         
        </div>
        <div class="flex items-center justify-between">
          <span class="title-font text-xl font-bold text-gray-900">
            ₹{{varients.price}}
          
          </span>
          <a
            href="{%url 'cart' varients.id%}"
            type="button"
            class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
          >
            Add to Cart
        </a>
        </div>
      </div>
    </div>
  </div>
</section>

  

{%endblock%}