<!doctype html>

{%load static%}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .hero-bg {
        background-image: url({%static 'images/timex3.jpg'%}); /* Replace with your image URL */
        background-size: cover;
        background-position: center;
    }
</style>
</head>
<body>
    {%csrf_token%}
    <div class="relative w-full bg-white">
        <div class="mx-auto flex max-w-7xl items-center justify-between px-4 py-2 sm:px-6 lg:px-8">
          <div class="inline-flex items-center space-x-2">
              
            <a href="#" class="flex items-center">
              <img src={%static "images/logo.png"%}  alt="Logo" class="h-8 w-8 mr-2">
              <span class="text-xl font-bold text-gray-800">HORA</span>
          </a>
            
          </div>
          <div class="hidden grow items-start lg:flex">
            <ul class="ml-12 inline-flex space-x-8">
              <li>
                <a
                  href="{%url 'publicindex'%}"
                  class="inline-flex items-center text-sm font-semibold text-gray-800 hover:text-gray-900"
                >
                  Home
                  <span>
                  
                  </span>
                </a>
              </li>
              <li>
              
              </li>
              <li>
              
              </li>
            </ul>
          </div>
          <div class="hidden space-x-2 lg:block">


            <a href="{%url 'sign-up'%}"><font color="blue">Doesn't have an account? <b>Register</b></font></a>        
           
            <a
              href="{%url 'sign-in'%}"
              type="button"
              class="rounded-md border border-black px-3 py-2 text-sm font-semibold text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            >
              Log in
            </a>
          </div>
          <div class="lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 cursor-pointer"
            >
              <line x1="4" y1="12" x2="20" y2="12"></line>
              <line x1="4" y1="6" x2="20" y2="6"></line>
              <line x1="4" y1="18" x2="20" y2="18"></line>
            </svg>
          </div>
        </div>
      </div>


<!-- ----------------------------------------------------------------------------------------------- -->



<section class="overflow-hidden">
  <div class="mx-auto max-w-5xl px-5 py-24">
    <div class="mx-auto flex flex-wrap items-center lg:w-4/5">
      <img
        alt="Nike Air Max 21A"
        class="h-64 w-full rounded object-cover lg:h-96 lg:w-1/2"
        src="{{varients.varient_image.url}}"
      />
      <div class="mt-6 w-full lg:mt-0 lg:w-1/2 lg:pl-10">
        <h2 class="text-sm font-semibold tracking-widest text-gray-500">
          {{varients.product_obj.brand_obj.name}}
        </h2>
        <h1 class="my-4 text-3xl font-semibold text-black">{{varients.product_obj.title}}
        </h1>
      
        <p class="leading-relaxed">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur rem
          amet repudiandae neque adipisci eum enim, natus illo inventore totam?
        </p>
        <div class="mb-5 mt-6 flex items-center border-b-2 border-gray-100 pb-5">
          <div class="flex items-center">
            <span class="mr-3 text-sm font-semibold">Color:</span>

            {{color}}
            



            
          
          </div>
         
        </div>
        <div class="flex items-center justify-between">
          <span class="title-font text-xl font-bold text-gray-900">
            ₹{{varients.price}}
          
          </span>
          <a
            href="{%url 'cart' varients.id%}"
            type="button"
            class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
          >
            Add to Cart
        </a>
        </div>
      </div>
    </div>
  </div>
</section>

  


</body>
</html>